 <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>A SIMPLE SPACE FOR BLOCKBUSTER KNOW-HOW</h1>
                <h2>NOT IMDB is a place very similar to IMDB - except it isn't IMDB!
                    Find information about your favourite movie today!</h2>
            </div>

            <!--Call to Action-->
            <a href="#" class="button">LEAVE A REVIEW TODAY</a>
            <!--End Call to Action-->

        </div>

    </div><!--End of Row-->